<%= form_with(model: user, url: user.new_record? ? backstore_users_path : backstore_user_path(user), class: "card shadow-sm p-4 border-0", local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h2 class="h5 mb-3"><%= user.errors.count %> error(es) impiden guardar el usuario:</h2>
      <ul class="mb-0">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-4">
    <div class="col-md-6">
      <%= form.label :nombre, "Nombre", class: "form-label" %>
      <%= form.text_field :nombre, class: "form-control", required: true %>
    </div>

    <div class="col-md-6">
      <%= form.label :apellido, "Apellido", class: "form-label" %>
      <%= form.text_field :apellido, class: "form-control", required: true %>
    </div>

    <div class="col-md-12">
      <%= form.label :email, "Email", class: "form-label" %>
      <%= form.text_field :email, class: "form-control", type: "email", required: true %>
    </div>

    <%# Campos de contraseña solo al crear un nuevo usuario %>
    <% if user.new_record? %>
      <div class="col-md-6">
        <%= form.label :password, "Contraseña", class: "form-label" %>
        <%= form.password_field :password, class: "form-control", required: true %>
      </div>

      <div class="col-md-6">
        <%= form.label :password_confirmation, "Confirmar contraseña", class: "form-label" %>
        <%= form.password_field :password_confirmation, class: "form-control", required: true %>
      </div>
    <% end %>

    <% if user.new_record? %>
    <div class="col-md-12">
      <%= form.label :role, "Rol", class: "form-label" %>

      <%# Definir opciones según rol del usuario actual %>
      <% roles =
        if current_user.administrador?
          User.roles.keys
        elsif current_user.gerente?
          ['gerente', 'empleado']
        end
      %>

      <%= form.select :role, roles.map { |k| [k.humanize, k] }, include_blank: false, class: "form-select" %>
    </div>
    <% end %>
  </div>

  <div class="mt-4">
    <%= form.submit user.new_record? ? "Crear usuario" : "Actualizar usuario", class: "btn btn-primary" %>
  </div>
<% end %>