<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_backstore_user_path(@user) %> |
  <%= link_to "Back to users", backstore_users_path %>

  <%# Si tengo permiso para destruir el usuario Y si no soy el usuario que estoy viendo %>
  <% if can?(:destroy, @user) && @user.id != current_user.id %>
    <%= button_to "Destroy this user", backstore_user_path(@user), method: :delete, data: { confirm: "Are you sure you want to destroy this user?" } %>
  <% end %>
</div>
