<%= form_with(model: [:backstore, genre]) do |form| %>
  <% if genre.errors.any? %>
    <div style="color: red">
      <h2><%= genre.errors.count %> error(es) impidieron que se guarde este género:</h2>

      <ul>
        <% genre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Nombre", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
