<p style="color: green"><%= notice %></p>

<%= render @genre %>

<div>
  <%= link_to "Editar este género", edit_backstore_genre_path(@genre) %> |
  <%= link_to "Volver a géneros", backstore_genres_path %>

  <%= button_to "Eliminar este género", [:backstore, @genre], method: :delete %>
</div>
