<p style="color: green"><%= notice %></p>

<%= render @genre %>

<div>
  <%= link_to "Edit this genre", edit_backstore_genre_path(@genre) %> |
  <%= link_to "Back to genres", backstore_genres_path %>

  <%= button_to "Destroy this genre", [:backstore, @genre], method: :delete %>
</div>
