<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :unit_price, style: "display: block" %>
    <%= form.text_field :unit_price %>
  </div>

  <div>
    <%= form.label :stock, style: "display: block" %>
    <%= form.number_field :stock %>
  </div>

  <div>
    <%= form.label :media_type, style: "display: block" %>
    <%= form.number_field :media_type %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.number_field :state %>
  </div>

  <div>
    <%= form.label :received_on, style: "display: block" %>
    <%= form.date_field :received_on %>
  </div>

  <div>
    <%= form.label :retired_at, style: "display: block" %>
    <%= form.datetime_field :retired_at %>
  </div>

  <div>
    <%= form.label :last_updated_at, style: "display: block" %>
    <%= form.datetime_field :last_updated_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
