<div id="<%= dom_id user %>">
  <div>
    <strong>Nombre:</strong>
    <%= user.nombre %>
  </div>

  <div>
    <strong>Apellido:</strong>
    <%= user.apellido %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= user.email %>
  </div>

  <div>
    <strong>Role:</strong>
    <%= user.role %>
  </div>

</div>
